*{
  margin: 0;
  padding: 0;
  font-family: 'ElMessiri', sans-serif;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 0.85vw;

}
.logo{
  margin: 2vw 5vw 1vw 0;

  img{
    width: 3.13vw;
  }
}
.navig{
  flex-grow: 1;
  ul {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li{
    margin-right: 2vw;
  }
  .a_header{
    color: #ffffff;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    ::after{
      content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: -3px;
      width: 0;
      height: 1.5px;
      background-color: #ffffff;
      transition: width 0.5s;
    }
    :hover:after{
      content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    transition: width 0.5s;
    }
  }
}

.butt {
  .btn {
    display: inline-block;	
    box-sizing: border-box;
    padding: 0 25px;
    margin: 9px 15px ;
    outline: none;
    border: 1px solid #018ABE;
    border-radius: 0.5vw;
    height: 2.40vw;
    line-height: 2.40vw;
    font-size: 0.85vw;
    text-decoration: none;
    color: #ffffff;
    background-color: #018ABE;   
    cursor: pointer;
    user-select: none;
    appearance: none;

  }
}
