.paragraph2{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 7.81vw;

    .par_2 {
        display: block;
        margin-bottom: 2vw;
        text-align: center;
        .img_2{
            text-align: center;
            height: 3.13vw;
        }
        
    }
    .first{
        position: relative;
        grid-row-start: 1;
        grid-row-end: 3;
        
        img {
            border-radius: 0.75vw;
            height: 100%;
        }

    }
    .second{
        position: relative;
        
        
        img {
            border-radius: 0.75vw;
            height: 100%;
        }
    }
    .third{
        position: relative;
        
        img {
            border-radius: 0.75vw;
            height: 100%;
        }
    }
    .fourth{
        position: relative;
        
        img {
            border-radius: 0.75vw;
            height: 100%;
        }
    }
    .fith {
        position: relative;
        img {
            border-radius: 0.75vw;
            height: 100%;
        }
    }
    .p_2 {
        position: absolute;
        
        top: 9vw;
        left: 3vw;
        font-size: 1.3vw;
    }
    .p22 {
        position: absolute;
        
        top: 23vw;
        left: 3vw;
        font-size: 1.3vw;
    }
    .grid_2{
        display: grid;
        grid-template-columns:  21.67vw 21.67vw 21.67vw;
        grid-template-rows: 13.44vw 13.44vw;
        gap: 1.3vw;
    }
}