.paragraph3{
    margin: 0 10vw 0 10vw;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column; 
    margin-bottom: 7.81vw;
    .h3{
        color: rgb(255, 255, 255);
        font-size: 1.25vw;
        border-spacing: 4vw;
        text-align: left;
    }
    .p3{
        color: rgb(255, 255, 255);
        font-size: 0.83vw;
        text-align: left;
        border-spacing: 2vw;
    }


    .par_3 {
        display: block;
        margin-bottom: 3vw;
        text-align: center;
        .img_3{
            text-align: center;
            height: 3.13vw;
            
        }
        
    }
    
    .block_3_1{
        display: flex;
        flex-direction: row; 
        align-items: center;
        margin-bottom: 3vw;
        justify-content: center;
        .txt_3_1{
            
            width: 24.27vw;
            float:right;
            padding-right: 4.38vw;
        }
        .img_3_1{
            float:left;
            img {
                width: 27.40vw;
                border-radius: 0.75vw;
            }
        }
    }
    .block_3_2{
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: center;
        .txt_3_2{
            width: 24.27vw;
            float: left;
            padding-left: 4.38vw;
        }
        .img_3_2{
            float:right;
            img {
                width: 27.40vw;
                border-radius: 0.75vw;
            }
        }
    }
}